body.landing.bg {
  background-image: url(../images/mockup/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}

.compact {
  display: none;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  width: 1440px;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.mainSection h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 27px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.center {
  text-align: center;
  background-color: #FCFCFC;
}

.mainSection.center h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 27px;
  text-align: center;
  color: white;
}

.mainSection.center p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  text-align: center;
  color: white;
}

.mainSection.right h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 27px;
  color: white;
}

.mainSection.right p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 37px;
  color: white;
}

.mainSection section {
  position: absolute;
  top: 190px;
}

.mainSection.center{
  text-align: center;
}

.mainSection.center section {
  width: 100%;
}

.mainSection.center section nav {
  margin-top: 58px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
}

.mainSection.center footer p {
  margin-bottom: 7px;
  font-size: 16px;
}

.mainSection section figure {
  width: 30px;
  height: 4px;
  margin-top: 63px;
  background-color: #50e3c2;
}

.mainSection.right,
.mainSection.center {
  background-color: #879696;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 231px;
}

.line {
  height: 4px;
  width: 30px;
  background-color: #5fe5c2;
  margin-top: 58px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 160px;
  width: 530px;
  height: 1200px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
}

#mockup2_1 {
  top: 193px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_2 {
  top: 193px;
  left: 333px;
  width: 140px;
  height: 395px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_3 {
  top: 193px;
  left: 506px;
  width: 140px;
  height: 474px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 342px;
  right: 40px;
  width: 765px;
  height: 405px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1180px) {
  body.landing.bg {
    background-image: url(../images/1180 First Breakpoint.png);
  }

  .landingWrapper {
    width: 100%;
  }
  .mainSection {
    width: 1180px;
    height: 568px;
  }
  .mainSection h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .mainSection p {
    font-size: 21px;
    line-height: 35px;
  }

  .mainSection.center h2 {
    font-size: 28px;
    line-height: 37px;
  }

  .mainSection.center p {
    margin-top: 21px;
  }

  .mainSection section {
    top: 191px;
    margin-left: -162px;
    width: 460px;
  }
  .mainSection.left section {
    left: 190px;
  }

  .mainSection.right section {
    right: 190px;
  }

  .mainSection.center section {
    top: 132px;
  }

  .mainSection section figure {
    width: 147px;
    height: 14px;
    margin-top: 100px;
  }

  .mainSection.left section figure {
    margin-left: -40px;
  }

  .mainSection.right section figure {
    margin-left: 303px;
  }

  .mainSection.center section nav {
    margin-top: 50px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }

  #mockup1 {
    top: 233px;
    right: 32px;
    width: 529px;
    height: 336px;
  }

  #mockup2_1 {
    top: 193px;
    left: 160px;
    width: 140px;
    height: 317px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    background-image: url(../images/about.png);
  }

  #mockup2_2 {
    top: 193px;
    left: 333px;
    width: 140px;
    height: 395px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    background-image: url(../images/works.png);
  }

  #mockup2_3 {
    top: 193px;
    left: 506px;
    width: 140px;
    height: 474px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    background-image: url(../images/work.png);
  }

  #mockup3 {
    top: 72px;
    right: -444px;
    width: 960px;
    height: 555px;
  }

}

@media screen and (max-width: 840px) {
  body.landing.bg {
    background-image: url(../images/mockup/_840.png);
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 840px;
    height: 1024px;
  }

  .mainSection h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .mainSection p {
    margin-top: 21px;
    font-size: 26px;
    line-height: 38px;
  }

  .mainSection.center h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .mainSection.center p {
    margin-top: 35px;
  }

  .mainSection section {
    top: 90px;
    width: 580px;
  }

  .mainSection.left section,
  .mainSection.right section {
    left: 165px;
  }

  .mainSection.center section {
    top: 260px;
  }

  .mainSection section figure {
    width: 210px;
    height: 20px;
    margin-top: 50px;
  }

  .mainSection.left section figure,
  .mainSection.right section figure {
    margin-left: -60px;
  }

  .mainSection:nth-child(3) section figure{
    margin-left: 430px;
  }

  .mainSection.center section nav {
    margin-top: 130px;
  }

  .mainSection.center section nav a {
    margin: 0 10px;
  }

  #mockup1 {
    top: 375px;
    right: -34;
    width: 621px;
    height: 560px;
  }

  #mockup2 {
    top: 415px;
    left: 333px;
    width: 464px;
    height: 584px;
  }

  #mockup3 {
    top: auto;
    bottom: 0px;
    right: -30px;
    width: 836px;
    height: 483px;
  }
}
