.menubar {
  width: 100%;
  z-index: 1;
}

.menubar div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.logo {
  display: block;
  width: 84px;
  height: 25px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1179px){
  .menubar div {
    height: 41px;
  }

  .logo {
    width: 62px;
    height: 19px;
  }
}
