.btn {
  display: inline-block;
  width: 300px;
  height: 50px;
  background-color: #82ffe1;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.link {
  display: block;
  font-family: 'PT Sans', sans-serif;
  color: white;
  margin-top: 15px;
}

@media screen and (max-width: 1179px) {
  .btn {
    width: 212px;
    height: 37px;
    font-size: 12px;
    line-height: 40px;
  }

  .link {
    font-size: 13px;
    margin-top: 11px;
  }
}
